@import url('https://fonts.googleapis.com/css2?family=Alice&family=Amita:wght@400;700&family=Charm:wght@400;700&family=Cherry+Bomb+One&family=Dynalight&family=Emblema+One&family=Italianno&family=Jim+Nightshade&family=Kapakana:wght@300..400&family=Laila:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Marck+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Modak&family=MonteCarlo&family=Montez&family=Nosifer&family=Pacifico&family=Rokkitt:ital,wght@0,100..900;1,100..900&family=Shrikhand&family=Spinnaker&family=Ultra&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: rgb(199, 254, 254);
}

html, body {
        margin: 0;
        padding: 0;
    }
header { text-align: center; 
background-color: rgb(181, 250, 227);
padding: 20px;
}
header img {
    width: 300px;
    height: 300px;
    border: 20px solid #4bdbf8;
    border-radius: 50%;
}
header h1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight:  600;
  font-style: normal;
    font-size: 55px;
    margin: 10px 0 20px 0;
    color:   blue; 
  

}